@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css hoáº·c index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


